<nav class="navbar sticky-top custom-nav navbar-expand-lg navbar-dark">
    <!--<a class="navbar-brand" href="#">
        <img src="assets\images\UIB.png" width="140" height="40" class="d-inline-block align-top" alt="">
    </a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <!--<li class="nav-item active">
                <a class="nav-link">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item">Action</a>
                <a class="dropdown-item">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item">Something else here</a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled">Disabled</a>
            </li>-->
            <li class="nav-item" *ngIf="authService.isLoggedIn$ | async">
                <a href class="nav-link" (click)="logout()">
                    <i class="sidenav-link-icon fal fa-sign-out" ></i>
                    <span class="sidenav-link-text">
                        Se déconnecter
                    </span>
                </a>
            </li>
        </ul>
    </div>
</nav>