<nav class="navbar sticky-top custom-nav navbar-expand-lg navbar-dark">
    <!--<a class="navbar-brand" href="#">
        <img src="assets\images\UIB.png" width="140" height="40" class="d-inline-block align-top" alt="">
    </a>-->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" *ngIf="authService.isLoggedIn$ | async">
                <div class="nav-link"   >
                    <span class="sidenav-link-text">
                       UIB Echanges
                    </span>
                </div>
            </li>
        </ul>
    </div>
</nav>