<div class="card text-center">
    <div class="card-header">
        <h1>Gestion des Serveurs</h1>
    </div>
    <div class="card-body">
        <div class="container bg-light" >
            <server-modal (update)="listener()" title="Ajouter" serverId="" ></server-modal>
            <div class="card-header">
                <div class="d-flex justify-content-center"><h3>Liste des Serveurs</h3></div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-responsive-sm" >
                    <thead>
                        <tr>
                            <th class="text-center align-middle" scope="col">Libellé</th>
                            <th class="text-center align-middle" scope="col">Adresse</th>
                            <th class="text-center align-middle" scope="col">Port</th>
                            <th class="text-center align-middle" scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let server of servers" >
                            <td class="text-center align-middle" >{{server.libelle}}</td>
                            <td class="text-center align-middle" >{{server.address}}</td>
                            <td class="text-center align-middle" >{{server.port}}</td>
                            <td><server-modal (update)="listener()" title="Modifier" serverId={{server.id}} ></server-modal>
                                <button class="btn btn-outline-danger mb-2 me-2" (click)="deleteServer(server.id)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center"></div>
<br/>

