<div class="card text-center">
    <div class="card-header">
        <h1>Gestion des Transferts</h1>
    </div>
    <div class="card-body">
        <div class="container bg-light" >
            <div class="card-header">
                <div class="d-flex justify-content-center"><h3>Liste des Transferts</h3></div>
            </div>
            <br/>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-responsive-sm" >
                    <thead>
                        <tr>
                            <th class="text-center align-middle" scope="col">Libellé</th>
                            <th class="text-center align-middle" scope="col">Serveur source</th>
                            <th class="text-center align-middle" scope="col">Serveur destination</th>
                            <th class="text-center align-middle" scope="col">Filtre</th>
                            <th class="text-center align-middle" scope="col">Type</th>
                            <th class="text-center align-middle" scope="col">Date</th>
                            <th class="text-center align-middle" scope="col">Résultat</th>
                            <th class="text-center align-middle" scope="col">Erreur</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transfer of transfers" >
                            <td class="text-center align-middle" >{{transfer.configuration.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.sourceServer.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.destinationServer.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.filter}}</td>
                            <td class="text-center align-middle" >{{transfer.type==0?"tranfert":"job"}}</td>
                            <td class="text-center align-middle" >{{transfer.date}}</td>
                            <td class="text-center align-middle" >{{transfer.result?"Succès":"Échec"}}</td>
                            <td class="text-center align-middle" >{{transfer.error}}</td>
                            <td>
                                <button class="btn btn-outline-danger mb-2 me-2" (click)="deleteTransfer(transfer.id)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center"></div>
<br/>

