<div class="card text-center">
    <div class="card-header">
        <h1>Gestion des Transferts</h1>
    </div>
    <div class="card-body">
        <div class="container bg-light" >
            <trs-modal (update)="listener()" ></trs-modal>
            <div class="card-header">
                <div class="d-flex justify-content-center"><h3>Liste des Transferts</h3></div>
            </div>
            <br/>
            <div class="input-group pb-3">
                <input id="search-focus" type="search"  class="form-control border border-secondary px-4 mx-4" placeholder="Filtre.." [(ngModel)]="filters.keyword" >
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-responsive-sm" >
                    <thead>
                        <tr>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('libelleConfig')"><i *ngIf="filters.order=='asc' && filters.sortBy=='libelleConfig'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>
                                <ng-template #desc >
                                    <i class="mx-2 datatable-sort-icon fa fa-caret-down"></i>
                                </ng-template>Config.
                            </th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('user')"><i *ngIf="filters.order=='asc' && filters.sortBy=='user'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>Déclench.</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('sourceServer')"><i *ngIf="filters.order=='asc' && filters.sortBy=='sourceServer'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>S. source</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('destinationServer')"><i *ngIf="filters.order=='asc' && filters.sortBy=='destinationServer'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>S. destination</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('filter')"><i *ngIf="filters.order=='asc' && filters.sortBy=='filter'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>Filtre</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('type')"><i *ngIf="filters.order=='asc' && filters.sortBy=='type'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>Type</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('date')"><i *ngIf="filters.order=='asc' && filters.sortBy=='date'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>Date</th>
                            <th style="cursor: pointer;" class="text-center align-middle" scope="col" (click)="sort('result')"><i *ngIf="filters.order=='asc' && filters.sortBy=='result'; else desc" class="mx-2 datatable-sort-icon fa fa-caret-up"></i>Résul.</th>
                            <th class="text-center align-middle" scope="col">Erreur</th>
                            <th class="text-center align-middle" scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let transfer of transfers | filter:filters.keyword | sort:filters.order:filters.sortBy" >
                            <td class="text-center align-middle" >{{transfer.configuration.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.user}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.sourceServer.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.destinationServer.libelle}}</td>
                            <td class="text-center align-middle" >{{transfer.configuration.filter}}</td>
                            <td class="text-center align-middle" >{{transfer.type==0?"tranfert":"job"}}</td>
                            <td class="text-center align-middle" >{{transfer.date}}</td>
                            <td class="text-center align-middle"  *ngIf="transfer.result; else auto"><i class="text-success fa fa-check"></i></td>
                            <ng-template #auto ><td class="text-center align-middle" ><i class="text-danger fa fa-times"></i></td></ng-template>
                            <td class="text-center align-middle" >{{transfer.error.split('/')[0]}}</td>
                            <td>
                                <button [disabled]="calculateDateDifferenceInDays(transfer.date)<=30" class="btn btn-outline-danger mb-2 me-2" [ngClass]="{
                                    'btn-outline-secondary': calculateDateDifferenceInDays(transfer.date)<=30,
                                    'btn-outline-danger': calculateDateDifferenceInDays(transfer.date)>30
                                  }" (click)="deleteTransfer(transfer.id, transfer.date)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="justify-content-center">
                    <ul class="pagination justify-content-center">
                      <li class="page-item" [class.disabled]="this.first">
                        <a class="page-link" (click)="prevPage()" aria-label="Previous">
                          <span aria-hidden="true">&laquo;</span>
                          <span class="sr-only">Précédent</span>
                        </a>
                      </li>
                      <li  *ngFor="let i of this.totalPages" [class.disabled]="this.pageNumber+1==i" class="page-item"><a (click)="this.getPage(i)" class="page-link">{{i}}</a></li>
                      <li class="page-item" [class.disabled]="this.last">
                        <a class="page-link" aria-label="Next" (click)="nextPage()">
                          <span aria-hidden="true">&raquo;</span>
                          <span class="sr-only">Suivant</span>
                        </a>
                      </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="d-flex justify-content-center"></div>
<br/>

