<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title">{{this.title}} Serveur</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <form [formGroup]="serverForm" (ngSubmit)="onSubmit()" >
      <div class="form-group pb-2">
        <input type="text" name="libelle" class="form-control" id="libelle" placeholder="Libellé" formControlName="libelle">
        <div
          *ngIf="serverForm.controls.libelle.invalid && (serverForm.controls.libelle.dirty || serverForm.controls.libelle.touched)"
          class="alert alert-danger">
          <div *ngIf="serverForm.controls.libelle.errors?.['required']">
            Ce champ est obligatoire.
          </div>
          <div *ngIf="serverForm.controls.libelle.errors?.['maxlength']">
            Longeur ne doit pas dépasser 40.
          </div>
        </div>
      </div>
      <div class="form-group pb-2">
        <input type="text" name="address" class="form-control" id="adresse" placeholder="Adresse" formControlName="address" >
        <div
          *ngIf="serverForm.controls.address.invalid && (serverForm.controls.address.dirty || serverForm.controls.address.touched)"
          class="alert alert-danger">
          <div *ngIf="serverForm.controls.address.errors?.['required']">
            Ce champ est obligatoire.
          </div>
          <div *ngIf="serverForm.controls.address.errors?.['pattern']">
            Valeur invalide.
          </div>
        </div>
      </div>
      <div class="form-group pb-2">
        <input type="number" name="port" class="form-control" id="port" placeholder="Port" formControlName="port" >
        <div
        *ngIf="serverForm.controls.port.invalid && (serverForm.controls.port.dirty || serverForm.controls.port.touched)"
        class="alert alert-danger">
        <div *ngIf="serverForm.controls.port.errors?.['required']">
          Ce champ est obligatoire.
        </div>
        <div *ngIf="serverForm.controls.port.errors?.['pattern']">
          Valeur invalide.
        </div>
      </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-dark float-left" [disabled]="!this.serverForm.valid" (click)="modal.close('Close click')">Enregistrer</button>
        <button type="button" class="btn btn-light" (click)="modal.close('Close click')">Annuler</button>
      </div>
    </form>
  </div>
</ng-template>
<button class="btn btn-outline-dark mb-2 me-2" (click)="openVerticallyCentered(content)">
  <i *ngIf="this.icon; else modifier" class="fa fa-plus" aria-hidden="true"></i>
  <ng-template #modifier><i class="fa fa-edit" aria-hidden="true"></i></ng-template>  
</button>