
<div class="card text-center">
    <div class="card-header">
        <h1>Gestion des Configurations</h1>
    </div>
    <div class="card-body">
        <div class="container bg-light" >
            <config-modal (update)="listener()" title="Ajouter" configId="" ></config-modal>
            <div class="card-header">
                <div class="d-flex justify-content-center"><h3>Liste des Configurations</h3></div>
            </div>
            <br/>
            <div class="input-group pb-4">
                <input id="search-focus" type="search"  class="form-control border border-secondary px-4 " placeholder="Filtre.." [(ngModel)]="filters.keyword" >
            </div>
            <div class="table-responsive">
                <table class="table table-striped table-sm table-responsive-sm" >
                    <thead>
                        <tr>
                            <th class="text-center align-middle" scope="col" (click)="sort('libelle')">Libellé</th>
                            <th class="text-center align-middle" scope="col" (click)="sort('filter')">Filtre</th>
                            <th class="text-center align-middle" scope="col">Serveur source</th>
                            <th class="text-center align-middle" scope="col">Serveur destination</th>
                            <th class="text-center align-middle" scope="col" (click)="sort('overwrite')">Ecrasement</th>
                            <th class="text-center align-middle" scope="col" (click)="sort('move')">Déplacement</th>
                            <th class="text-center align-middle" scope="col" (click)="sort('archive')">Archivage</th>
                            <th class="text-center align-middle" scope="col">Options</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let config of configs | filter:filters.keyword | sort:filters.order:filters.sortBy" >
                            <td class="text-center align-middle" >{{config.libelle}}</td>
                            <td class="text-center align-middle" >{{config.filter}}</td>
                            <td class="text-center align-middle" >{{config.sourceServer ? config.sourceServer.libelle : "non défini"}}</td>
                            <td class="text-center align-middle" >{{config.destinationServer ? config.destinationServer.libelle : "non défini"}}</td>
                            <td class="text-center align-middle"  *ngIf="config.overwrite; else auto" ><i class="text-success fa fa-check"></i></td>
                            <td class="text-center align-middle"  *ngIf="config.move; else auto" ><i class="text-success fa fa-check"></i></td>
                            <td class="text-center align-middle"  *ngIf="config.archive; else auto"><i class="text-success fa fa-check"></i></td>
                            <ng-template #auto ><td class="text-center align-middle" ><i class="text-danger fa fa-times"></i></td></ng-template>
                            <td>
                                <config-modal (update)="listener()" title="Modifier" configId={{config.id}} ></config-modal>
                                <button class="btn btn-outline-danger mb-2 me-2" (click)="deleteConfiguration(config.id)" ><i class="fa fa-trash" aria-hidden="true"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
  </div>
<div class="d-flex justify-content-center"></div>
<br/>