<h1>Gestion des Configurations</h1>
<table class="table table-striped" >
    <thead>
        <tr>
            <th class="text-center" scope="col" >ID</th>
            <th class="text-center" scope="col">libellé</th>
            <th class="text-center" scope="col">filtre</th>
            <th class="text-center" scope="col">Serveur source</th>
            <th class="text-center" scope="col">Serveur destination</th>
            <th class="text-center" scope="col">Ecrasement</th>
            <th class="text-center" scope="col">Déplacement</th>
            <th class="text-center" scope="col">Automatique</th>
            <th class="text-center" scope="col">Archivage</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let config of configs" >
            <td class="text-center" >{{config.id}}</td>
            <td class="text-center" >{{config.libelle}}</td>
            <td class="text-center" >{{config.filter}}</td>
            <td class="text-center" >{{config.sourceServer.libelle}}</td>
            <td class="text-center" >{{config.destinationServer.libelle}}</td>
            <td class="text-center"  *ngIf="config.overwrite; else auto" >Oui</td>
            <td class="text-center"  *ngIf="config.move; else auto" >Oui</td>
            <td class="text-center"  *ngIf="config.automatic; else auto" >Oui</td>
            <td class="text-center"  *ngIf="config.archive; else auto">Oui</td>
            <ng-template #auto ><td class="text-center" >Non</td></ng-template>


        </tr>
    </tbody>
</table>